.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: rgb(30, 95, 87);
    background: radial-gradient(
      circle,
      rgba(30, 95, 87, 1) 10%,
      rgba(21, 145, 136, 1) 61%,
      rgb(2, 74, 74) 100%
    );
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-height: 85vh; /* Cambiado a min-height */
    max-height: 100vh;
    overflow: auto;
  }
  
  /* Agregamos estilos para hacer que el contenido sea responsive */
  .contact-content {
    max-width: 80%; /* Ajusta el ancho máximo del contenido */
    padding: 20px;
  }
  
  /* Estilos para hacer que el contenido sea responsive en dispositivos móviles */
  @media (max-width: 768px) {
    .contact-content {
      max-width: 100%; /* Ajusta el ancho máximo para dispositivos móviles */
    }
  }
  
  .contactH2 {
    font-size: 24px;
    color: rgb(0, 255, 234);
    text-transform: uppercase;
    margin-bottom: 20px;
    animation: text-flicker-in-glow 2s infinite alternate;
    top: 20vw;
  }
  
  p {
    font-size: 18px;
    color: rgb(0, 255, 234);
    margin: 10px 0;
    animation: text-flicker-in-glow 2s infinite alternate;
  }
  
  .contacta {
    color: #0078d4;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .contacta:hover {
    color: #004272;
  }
  
  /* Animación de texto y destellos */
  @keyframes text-flicker-in-glow {
    0%, 100% {
      text-shadow: -1px -1px 10px rgba(255, 255, 255, 0.8),
                   1px 1px 10px rgba(255, 255, 255, 0.8);
    }
    25% {
      text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8),
                   -2px -2px 10px rgba(255, 255, 255, 0.8);
    }
    50% {
      text-shadow: -4px -4px 10px rgba(255, 255, 255, 0.8),
                   4px 4px 10px rgba(255, 255, 255, 0.8);
    }
    75% {
      text-shadow: 2px -2px 10px rgba(255, 255, 255, 0.8),
                   -2px 2px 10px rgba(255, 255, 255, 0.8);
    }
  }
  .svgContainer{
    position: absolute;
    bottom: 20%;
    left: 49%;
  }
  .svg{
    width: 26px;
  }