.aboutContainer {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#263b63, #1770d6);
    min-height: 110vh;
    display: flex;
    justify-content: center;    
}

.aboutContent {
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;   
}

.aboutH1, .myName {
    display: inline;
    color: white;
}

.myName {    
    margin-left: 10px;
    color: aquamarine;    
    animation-name: entering-right-left;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;    
}

@keyframes entering-right-left {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }}

.pic1 {
    position: absolute;
    top: 10%;
    left: 70vw;
    border-radius: 60vw;
    height: 20vw;
    box-shadow: 0 0 45px rgb(27, 34, 82);
    border-image: linear-gradient(to bottom, #0c045b 0%, #3a4ed5 100%) 1;
}

.aboutP1 {
    text-align: center;
    color: white;
    margin-top: 2vw;
}

.aboutP {
    text-align: center;
    color: white;
}
.banner{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 25vw;
    width: 65vw;
    height: 25vw;    
}
.bannerItem{    
    flex: 1;
    background-color: rebeccapurple;
    display: flex;
    transition:  flex-grow 0.4;      
    background-image: url(https://static.wixstatic.com/media/400291_bf1d78bda6f3481dad1dbecf2e0778ad~mv2.jpg/v1/fill/w_971,h_673,al_c,q_85,enc_auto/400291_bf1d78bda6f3481dad1dbecf2e0778ad~mv2.jpg);
    background-size: cover;     
}
.bannerItem:hover{ 
    background-image: none;
    background-size: cover;
    opacity: 1;  
}

.bannerTitle{
    color:#0c045b;
    font-weight: 800;
    margin: auto;
}

.bannerP1{
    font-size: 0.1px;
    animation: none;  
    font-weight: 700;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: rgb(156, 73, 73);    
}
.bannerItem:hover .bannerP1 {   
   font-size: 20px;
   color: yellow;   
}

.bannerItem:hover {
    flex-grow: 10;         
}   


.bannerItem:nth-child(1){        
    background-image: url(https://static.wixstatic.com/media/400291_cf40e007a4744f248dbc62292fdbaf18~mv2.jpg/v1/fill/w_614,h_614,al_c,lg_1,q_85,enc_auto/400291_cf40e007a4744f248dbc62292fdbaf18~mv2.jpg);
    background-size: cover;    
}
.bannerItem:nth-child(1):hover{    
    background-color: darkgreen;
    background-image: none;
    background-size: cover;
    opacity: 1;   
}
.bannerItem:nth-child(2){
    background-image: url(https://static.wixstatic.com/media/400291_70c536438f4c448b9cac67c72f9fa64d~mv2.jpg/v1/fill/w_752,h_767,al_c,q_85,enc_auto/400291_70c536438f4c448b9cac67c72f9fa64d~mv2.jpg);
    background-size: cover;    
}
.bannerItem:nth-child(2):hover{
    background-color: rgb(100, 62, 0);
    background-image: none;
    background-size: cover;
    opacity: 1;      
}
.bannerItem:nth-child(3){
    background-image: url(https://static.wixstatic.com/media/400291_471914cb1d084b409ea140087b833171~mv2.jpg/v1/fill/w_640,h_832,al_c,q_85,enc_auto/400291_471914cb1d084b409ea140087b833171~mv2.jpg);
    background-size: cover;      
}
.bannerItem:nth-child(3):hover{
    background-color: rgb(6, 5, 28);   
    background-image: none;
    background-size: cover;
    opacity: 1;      
}
.bannerItem:nth-child(4){
    background-image: url(https://static.wixstatic.com/media/400291_a1245610c192455f9b19103342695ed9~mv2.jpg/v1/fill/w_613,h_768,al_c,q_85,enc_auto/400291_a1245610c192455f9b19103342695ed9~mv2.jpg);
    background-size: cover;      
}
.bannerItem:nth-child(4):hover{
    background-color: rgb(123, 3, 67);
    background-image: none;
    background-size: cover;
    opacity: 1;         
}

.bannerTitle{
    color:#e2e2e8;
    
    font-weight: 800;
    margin: auto;
}


