.aboutContainer {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#263b63, #1770d6);
    min-height: 100vh;
    display: flex;
    justify-content: center;    
}

.aboutContent {
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;   
}

.aboutH1, .myName {
    display: inline;
    color: white;
}

.myName {    
    margin-left: 10px;
    color: aquamarine;    
    animation-name: entering-right-left;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;    
}

@keyframes entering-right-left {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }}

.pic1 {
    position: absolute;
    top: 10%;
    left: 70vw;
    border-radius: 60vw;
    height: 20vw;
    box-shadow: 0 0 45px rgb(27, 34, 82);
    border-image: linear-gradient(to bottom, #0c045b 0%, #3a4ed5 100%) 1;
}

.aboutP1 {
    text-align: center;
    color: white;
    margin-top: 2vw;
}

.aboutP {
    text-align: center;
    color: white;
}
.banner{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 25vw;
    width: 55vw;
    height: 25vw;
}
.bannerItem{    
    flex: 1;
    background-color: rebeccapurple;
    display: flex;
    transition:  flex-grow 0.2;
}
.bannerItem:hover {
    flex-grow: 10;
}    


.bannerItem:nth-child(1){
    background-color: darkgreen;
       
}
.bannerItem:nth-child(2){
    background-color: rgb(100, 62, 0);   
}
.bannerItem:nth-child(3){
    background-color: rgb(6, 5, 28);   
}
.bannerItem:nth-child(4){
    background-color: rgb(123, 3, 67);   
}

.bannerTitle{
    color: white;
    margin: auto;
}