/* Define las animaciones */
@keyframes rotate {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes translateY {
	from {
	  transform: translateY(0);
	}
	to {
	  transform: translateY(-100vh); /* Eleva el elemento fuera de la pantalla */
	}
  }
  
  /* Estilo base para las instancias */
  .svgWrap {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
  }
  
  .svgInstance {
	position: absolute;
	width: 100px; /* Ajusta el tamaño según tus necesidades */
	height: 100px; /* Ajusta el tamaño según tus necesidades */
	top: 0;
	left: 0;
	transform-origin: center center;
	animation-timing-function: linear;
  }
  
  /* Aplica las animaciones a las instancias */
  .svgInstance:nth-child(1) {
	animation: rotate 10s linear infinite, translateY 5s ease-out infinite;
  }
  
  .svgInstance:nth-child(2) {
	animation: rotate 8s linear infinite, translateY 4s ease-out infinite;
  }