
@keyframes spin3D {
	from { transform: rotateY(0deg); opacity: 0; }
	to { transform: rotateY(360deg); opacity: 1; }
  }
  
@keyframes moveUp {
	from {
	  transform: rotateY(0deg) translateY(100vh) translateX(0) ;
	}
	to {
	  transform: rotateY(360deg) translateY(-10vh) translateX(random() * 100vw );
	}
}

  .container {
	position: relative;
	height: 100vh;
	overflow: hidden;
  }
  
  .instance {
	position: absolute;
	bottom: 35em;	
	width: 5em;
	height: 5em;
	animation-name: spin3D, moveUp; /* Aplica ambas animaciones */
	animation-duration: 7s; /* Duración de la rotación y el movimiento */
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;	
	opacity: 0;
  }
